.usuario-clases{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/fondos/pista-azul.jpg") no-repeat center center fixed;
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el área */
    background-position: center; /* Centra la imagen de fondo */
}

.usuario-clases h1{
    font-family: "montserratbold";
    width: 98%;
    text-align: center;
    padding: 1%;
}

.clases{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.clasesF{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.clase{
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    border: black solid 2px;
    box-shadow: 5px 8px 15px rgb(42, 42, 42);
    background-color: rgb(255, 255, 255);
}

.clase h2{
    font-family: "montserratbold";
    color: black;
    width: 100%;
    text-align: center;
}

.info-clase{
    width: 85%;
    margin-left: 7.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.clase h4{
    margin: 2%;
}


.button-clases {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
    font-size: 16px;
    letter-spacing: 1px;
    outline: 0;
    font-weight: bolder;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-clases:after {
    content: "";
    background-color: rgba(255, 255, 0, 0.66);
    width: 100%;
    z-index: 2;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-clases:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-clases {
        padding: 13px 50px 13px;
    }
}





/* Administrador */

/* Tabla mostrar todas las clases */

.admin-clases {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-clases h2{
    margin: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
}

.admin-clases a{
    width: 120px;
}

.admin-clases .nueva-clase{
    margin-top: 2%;
    margin-bottom: 1%;
    width: 120px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.admin-clases table {
    border-collapse: collapse;
    border: none;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 5%;
}



.admin-clases th, .admin-clases td {
    padding: 8px;
    border: none;
    text-align: left;
}

.admin-clases th {
    background-color: #007bff;
    color: #fff;
}

.admin-clases tr:nth-child(even) {
    background-color: #f2f2f2;
}


.admin-clases tr:hover {
    background-color: #ddd;
}


.td-actions {
    width: 60%;
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Alinea los elementos verticalmente */
}

.left-action,
.right-action {
    flex: 1; /* Ocupa el espacio disponible */
}

.left-action {
    text-align: left; /* Alinea el contenido a la izquierda */
}

.left-action a img{
    width: 20px;
}

.right-action {
    text-align: right; /* Alinea el contenido a la derecha */
}

.right-action button img{
    width: 20px;
}




/* Formulario de editar clase */
.editar-clase{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editar-clase h2{
    color: black;
    font-family: montserratbold;
    width: 100%;
    text-align: center;
}


.formulario-editar-clase {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-editar-clase h3 {
    text-align: center;
    margin-bottom: 20px;
}

.formulario-editar-clase label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-editar-clase select,
.formulario-editar-clase input[type="number"],
.formulario-editar-clase input[type="email"],
.formulario-editar-clase input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.formulario-editar-clase button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.formulario-editar-clase button:hover {
    background-color: #0056b3;
}

.x-input-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


/* Formulario CREAR */
.crear-clase{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crear-clase h2{
    color: black;
    font-family: montserratbold;
    width: 100%;
    text-align: center;
}

.formulario-crear-clase {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-crear-clase h2 {
    text-align: center;
    margin-bottom: 20px;
}


.formulario-crear-clase label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-crear-clase select,
.formulario-crear-clase input[type="number"],
.formulario-crear-clase textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.formulario-crear-clase button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.formulario-crear-clase button:hover {
    background-color: #0056b3;
}

.alert {
    margin-top: 10px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
}




/* --------------------------------------------------- MOVIL -------------------------------------------- */

@media (max-width: 840px) {

    .th-descripcion, .td-descripcion {
        display: none;
    }

    .usuario-clases{
        width: 100%;
        height: 100%;
    }

    .admin-clases table {
        margin: 0;
        margin-top: 4%;
        width: 100%;
        table-layout: fixed;
        word-wrap: break-word;
    }

    .admin-clases a{
        width: 100%;
    }

    .tablas-productos-reservas div table{
        font-size: 14px;
    }

    .tablas-productos-reservas .td-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; /* Allows actions to wrap if necessary */
        width: 10%;
    }

    .tablas-productos-reservas .td-actions a{
        width: 100%;
    }

    .clases{
        width: 100%;
    }

    .clases .clasesF{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .clases .clasesF .clase{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .torneos .torneos-row .torneo .inscritos{
        width: 50%;
    }


    /* -------------------------------------------- CREAR CLASE ------------------------------------------- */

    .formulario-crear-clase{
        width: 80%;
        margin-bottom: 4%;
    }


/* ------------------------------------------------ EDITAR CLASE ------------------------------------------- */

    .formulario-editar-clase{
        width: 80%;
        margin-bottom: 4%;
    }
}


