.cuerpo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/fondos/pista-azul.jpg");
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el área */
    background-position: center; /* Centra la imagen de fondo */
}

h1{
    font-family: "montserratbold";
    color: white;
}

/* Torneoa */
.info-I1 {
    display: flex;
    flex-direction: row;
    height: 45%;
    width: 100%;
    margin-top: 0;
}

.info-Ia {
    width: 50%;
    margin: 2%;
    border: black solid 2px;
    box-shadow: 5px 8px 15px rgb(42, 42, 42);
    background-color: white;
    padding: 1%;
}

.info-Ia h3{
    font-weight: bolder;
    width: 100%;
    text-align: center;
    font-family: "montserratbold";
    font-size: 25px;
    margin-top: 0;
}

.info-Ia .texto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos al inicio */
}

.info-Ia .left {
    width: 70%; /* Ajusta el ancho de cada columna */
}

.info-Ia .right {
    width: 30%; /* Ajusta el ancho de cada columna */
}

.info-Ia .left {
    text-align: left;
}

.info-Ia .left .inscritos{
    width: 50%;
    padding: 1%;
    background-color: rgba(0, 128, 0, 0.49);
    font-weight: bolder;
}

.info-Ia .right {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea los items al final */
}

.info-Ia .right .first {
    margin-bottom: 20px; /* Ajusta este valor para la altura del pódium */
    font-weight: bold;
}

.info-Ia p, .info-Ib p {
    margin-left: 2%;
    margin-bottom: 1%;
}

.info-Ia .inscripciones{
    width: 30%;
    font-weight: bold;
    background-color: rgba(0, 128, 0, 0.41);
    padding: 1%;
    margin-bottom: 1.5%;
}



/* Boton Torneo */

.button-torneo {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    font-size: 16px;
    letter-spacing: 1px;
    outline: 0;
    font-weight: bolder;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-torneo:after {
    content: "";
    background-color: rgba(0, 128, 0, 0.49);
    width: 100%;
    z-index: 2;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-torneo:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-torneo {
        padding: 13px 50px 13px;
    }
}




/* Clases */

.button-clases{
    font-size: 16px;
    letter-spacing: 1px;
    outline: 0;
    font-weight: bolder;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-clases:after {
    content: "";
    background-color: rgba(0, 128, 0, 0.49);
    width: 100%;
    z-index: 20;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-clases:hover:after {
    top: 0px;
    left: 0px;
}

.clase-I1 button, .clase-I2 button, .clase-I3 button {
    width: auto; /* Ajustar automáticamente al contenido */
    padding: 10px 20px; /* Espaciado interno */
    background-color: rgba(255, 255, 0, 0);
    border: 1px solid black;
    font-weight: bolder;
    cursor: pointer;
}

@media (min-width: 768px) {
    .button-clases {
        padding: 13px 50px 13px;
    }
}


.info-I2 {
    display: flex;
    flex-direction: column;
    width: 94%;
    height: auto; /* Ajustar automáticamente al contenido */
    margin-top: 2%;
    margin-bottom: 4%;
    //box-shadow: 8px 8px 15px rgb(250, 250, 255);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 1%;
}

.info-I2 h2 {
    color: white;
    font-size: 30px;
}

.clasesI {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.clase-I1 {
    width: 32%; /* Ajuste para asegurar que caben dentro del contenedor padre */
    margin: 1%; /* Espaciado entre los contenedores */
    border: black solid 2px;
    box-shadow: 5px 8px 15px rgb(42, 42, 42);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
}

.clase-I1 h3 {
    text-align: center;
    font-family: "montserratbold";
    font-size: 22px;
    margin-top: 0;
}

.clase-I1 .info-clase{
    width: 100%;
    margin: 0;
}



.clase-I1 .info-clase p{
    margin-left: 0;
    margin-bottom: 4%;
    width: 33%;
    text-align: center;
}
.clase-I1 .boton {
    text-align: center; /* Centrar el botón */
    margin: 0; /* Eliminar márgenes superiores e inferiores */
}


