
/* ------------------------------------------------------------------------------------------------------------- CSS USUARIO PC ------------------------------------------------------------------------------------------------- */


.pistas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/fondos/pista-azul.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

.pista {
    width: 49%;
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

h2{
    color: white;
    font-weight: bolder;
}

.horasP {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reservarP {
    background-color: rgba(255, 255, 255, 0.84);
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 90%; /* El botón ocupa el 80% del ancho del contenedor de horas*/
}

.reservarP:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.horasP > form{
    width: 24%;
    margin-bottom: 1%;
}

.reservarP:hover {
    transform: translateY(-4px);
    transition: 200ms;
    background-color: rgba(0, 111, 255, 0.38);
    color: white;
}

.info-pista p {
    margin: 5px 0; /* Margen entre los elementos de información de la pista */
}





/* -------------------------------------------------------------------------------------------------------------- ADMINISTRADOR ---------------------------------------------------------------------------------------------------- */
.admin-pistas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-pistas h2{
    margin: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
}

.admin-pistas a{
    width: 100%;
}

.admin-pistas .nueva-pista{
    margin-top: 2%;
    margin-bottom: 1%;
    width: 120px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.admin-pistas table {
    border-collapse: collapse;
    border: none;
    width: 95%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.admin-pistas th, .admin-pistas td {
    padding: 8px;
    border: none;
    text-align: left;
}

.admin-pistas th {
    background-color: #007bff;
    color: #fff;
}

.admin-pistas tr:nth-child(even) {
    background-color: #f2f2f2;
}


.admin-pistas tr:hover {
    background-color: #ddd;
}


.td-actions {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-action,
.right-action {
    flex: 1;
}

.left-action {
    text-align: left;
}

.left-action a img{
    width: 20px;
}

.right-action {
    text-align: right;
}

.right-action button img{
    width: 20px;
}






/* ----------------------------------------------------------------------------------------------------------------- EDITAR -------------------------------------------------------------------------------------------------------- */

.editar-pista{
    height: 100%;
}

.editar-pista h2{
    color: black;
    font-family: montserratbold;
    width: 100%;
    text-align: center;
}

.formulario-editar-pistas {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-editar-pistas label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-editar-pistas input[type="text"],
.formulario-editar-pistas input[type="number"],
.formulario-editar-pistas input[type="email"],
.formulario-editar-pistas input[type="date"],
.formulario-editar-pistas select,
.formulario-editar-pistas input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.formulario-editar-pistas button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.formulario-editar-pistas button:hover {
    background-color: #0056b3;
}

.x-input-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}




/* ------------------------------------------------------------------------------------------------------------------ CREAR ---------------------------------------------------------------------------------------------------------- */
.crear-pista{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .crear-pista h2{
    color: black;
    font-family: montserratbold;
     width: 100%;
     text-align: center;
}

.formulario-crear-pista {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.formulario-crear-pista label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-crear-pista input[type="number"],
.formulario-crear-pista input[type="date"],
.formulario-crear-pista select,
.formulario-crear-pista input[type="time"],
.formulario-crear-pista input[type="email"],
.formulario-crear-pista input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.formulario-crear-pista button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.formulario-crear-pista button:hover {
    background-color: #0056b3;
}

.x-input-error {
    margin-top: 10px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
}






/* ------------------------------------------------------------------------------------------------------------------ MOVIL ------------------------------------------------------------------------------------------------------- */

@media (max-width: 840px) {

    .pistas {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .pistas .pista {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }


    /* ------------------------------------------------------------------------------------------------------------ ADMINISTRADOR --------------------------------------------------------------------------------------------------- */

    .th-estado, .td-estado, .th-hora-fin, .td-hora-fin {
        display: none;
    }


    .admin-pistas {
        width: 100%;
        background-color: white;
        box-sizing: border-box;
    }

    .admin-pistas table {
        width: 100%;
        table-layout: fixed;
        word-wrap: break-word;
    }



    .admin-pistas th, .admin-pistas td {
        padding: 8px;
        border: none;
        text-align: left;
        font-size: 12px;
        overflow: hidden; /* Hides overflowed content */
    }

    .admin-pistas th {
        background-color: #007bff;
        color: #fff;
    }

    .admin-pistas tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .admin-pistas tr:hover {
        background-color: #ddd;
    }

    .admin-pistas td {
        width: 100%;
    }


    .admin-pistas .td-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; /* Allows actions to wrap if necessary */
        width: 80%;
    }

    .left-action, .right-action {
        flex: 1 1 50%; /* Allow actions to take up to 50% of the row each */
        text-align: start; /* Center the actions */
    }

    .left-action a img, .right-action button img {
        width: 15px;
    }


    /* -------------------------------------------------------------------------------------------------------------- CREAR ----------------------------------------------------------------------------------------------------- */

    .formulario-crear-pista{
        width: 80%;
    }

    /* --------------------------------------------------------------------------------------------------------------- EDITAR ---------------------------------------------------------------------------------------------------- */

    .formulario-editar-pistas{
        width: 80%;
    }

}




