@font-face {
    font-family: 'Altone Trial-Regular';
    src: url('/font/Altone Trial-Regular.ttf');
}

@font-face {
    font-family: 'RegencieLight';
    src: url('/font/RegencieLight.ttf');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/font/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'MontserratRegular';
    src: url('/font/Montserrat-Regular.ttf');
}

/* ----------------------------------- FUENTES -------------------------------------------------- */





.formulario {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
    font-family: "Montserrat";
}

.logo {
    margin-top: 5%;
}

.logo img {
    width: 200px;
}

form {
    width: 100%; /* Utiliza todo el ancho disponible */
}

.form{
    width: 20%;
    margin-left: 40%;
    border: black solid 2px;
    box-shadow: 5px 8px 15px rgb(42, 42, 42);
}

.datos {
    width: 96%; /* Cambia el ancho según sea necesario */
    margin-top: 3%; /* Espacio entre cada campo */
    margin-left: 2%;
    margin-right: 2%;
}

h2 {
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

label{
    width: 100%;
    font-weight: bolder;
}

input{
    width: 95%;
    padding: 2%;
}

.loguearte {
    width: 95%;
    margin-top: 3%;
    margin-left: 2%;
}

.loguearte a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.boton {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    width: 95%; /* Cambia el ancho según sea necesario */
    margin-top: 5%; /* Espacio entre el formulario y los botones */
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;

}

.cancelar {
    height: 50px;
    align-self: flex-start; /* Coloca este botón en la esquina superior izquierda */
    background-color: rgb(218, 0, 0);
    color: white;
    font-family: 'montserratbold';
}

.boton button[type="submit"] {
    height: 50px;
    background-color: #008e00;
    color: white;
    font-family: 'montserratbold';
}




/* ---------------------------------------------- MOVIL ------------------------------------------------ */

@media (max-width: 840px) {

    .form{
        width: 90%;
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
    }

}

