.tienda{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/fondos/tienda.jpg");
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el área */
    background-position: center; /* Centra la imagen de fondo */
}

.filtros{
    width: 14%;
    margin-left: 1%;
    border-right: black solid 2px;
    background-color: white;
}

.productos{
    width: 80%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;

}

.productosL{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.producto{
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 1px;
    box-shadow: 5px 8px 15px rgb(42, 42, 42);
    background-color: white;
}

.producto h2{
    width: 90%;
    font-size: 20px;
    text-align: center;
}

.producto button{
    margin-bottom: 4%;
}

.producto img{
    width: 80%;
}

/* Administrador */

/* Tabla mostrar todas los productos */
.admin-productos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-productos h2{
    margin: 0;
    margin-top: 1%;
    margin-bottom: 1%;
}

.admin-productos a{
    width: 120px;
}

.admin-productos .nuevo-producto{
    margin-top: 2%;
    margin-bottom: 1%;
    width: 130px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.admin-productos table {
    border-collapse: collapse;
    border: none;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.admin-productos th, .admin-productos td {
    padding: 8px;
    border: none;
    text-align: left;
}

.admin-productos th {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.admin-productos tr:nth-child(even) {
    background-color: #f2f2f2;
    border: none;
}


.admin-productos tr:hover {
    background-color: #ddd;
    border: none;
}


.td-actions {
    width: 60%;
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Alinea los elementos verticalmente */
}

.left-action,
.right-action {
    flex: 1; /* Ocupa el espacio disponible */
}

.left-action {
    text-align: left; /* Alinea el contenido a la izquierda */
}

.left-action a img{
    width: 20px;
}

.right-action {
    text-align: right; /* Alinea el contenido a la derecha */
}

.right-action button img{
    width: 20px;
}


/* Formulario editar producto */

.formulario-editar-productos {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-editar-productos h3 {
    text-align: center;
    margin-bottom: 20px;
}

.formulario-editar-productos label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-editar-productos select,
.formulario-editar-productos input[type="number"],
.formulario-editar-productos input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.formulario-editar-productos button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.formulario-editar-productos button:hover {
    background-color: #0056b3;
}

.x-input-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


/* Contenedor del formulario insertar producto */

h2{
    width: 100%;
    text-align: center;
}

.formulario-insertar-producto {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.formulario-insertar-producto h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.formulario-insertar-producto label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.formulario-insertar-producto input[type="text"],
.formulario-insertar-producto input[type="number"],
.formulario-insertar-producto select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

/* Estilo para los campos de entrada al hacer foco */
.formulario-insertar-producto input[type="text"]:focus,
.formulario-insertar-producto input[type="number"]:focus,
.formulario-insertar-producto select:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilo para el grupo de formulario */
.formulario-insertar-producto .form-group {
    margin-bottom: 15px;
}

/* Estilo para el botón de envío */
.formulario-insertar-producto button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo para el botón de envío al pasar el ratón */
.formulario-insertar-producto button:hover {
    background-color: #0056b3;
}


