.torneos{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 4%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/fondos/pista-azul.jpg");
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el área */
    background-position: center; /* Centra la imagen de fondo */
}
.torneos h1{
    font-family: "montserratbold";
    width: 100%;
    text-align: center;
}


.torneos-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.torneo{
    width: 45%;
    margin: 2%;
    border: black solid 2px;
    box-shadow: 5px 8px 15px rgb(42, 42, 42);
    background-color: white;
}

.torneo h2{
    color: black;
    font-family: "montserratbold";
}

.torneo p{
    margin-left: 2%;
}

.form-torneo{
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}


.button-torneos {
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 2%;
    width: 30%;
    height: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    outline: 0;
    font-weight: bolder;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-torneos:after {
    content: "";
    background-color: rgba(0, 128, 0, 0.49);
    width: 100%;
    z-index: 2;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-torneos:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-torneo {
        padding: 13px 50px 13px;
    }
}

.torneo .texto, .torneo .inscritos{
    margin-left: 2%;
}

.torneo .inscritos{
    width: 30%;
    font-weight: bold;
    background-color: rgba(0, 128, 0, 0.41);
    padding: 1%;
    margin-bottom: 1.5%;
}

.crearT{
    margin-left: 2%;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

table a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 50%;
    color: blue;
}

 table button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


 /* ADMIN */

/* Reset de estilos */


.form_torneo {
    max-width: 20%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form_torneo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form_torneo input[type="text"],
.form_torneo input[type="number"],
.form_torneo input[type="time"],
.form_torneo textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form_torneo textarea {
    resize: vertical;
}

.form_torneo button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form_torneo button[type="submit"]:hover {
    background-color: #0056b3;
}
