.torneos{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 4%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/fondos/pista-azul.jpg") no-repeat center center fixed;
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el área */
    background-position: center; /* Centra la imagen de fondo */
}
.torneos h1{
    font-family: "montserratbold";
    width: 100%;
    text-align: center;
}


.torneos-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.torneo{
    width: 45%;
    margin: 2%;
    border: black solid 2px;
    box-shadow: 5px 8px 15px rgb(42, 42, 42);
    background-color: white;
}

.torneo h2{
    color: black;
    font-family: "montserratbold";
    width: 100%;
    text-align: center;
}

.torneo p{
    margin-left: 2%;
}

.form-torneo{
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}


.button-torneos {
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 2%;
    width: 30%;
    height: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    outline: 0;
    font-weight: bolder;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-torneos:after {
    content: "";
    background-color: rgba(0, 128, 0, 0.49);
    width: 100%;
    z-index: 2;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-torneos:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-torneo {
        padding: 13px 50px 13px;
    }
}

.torneo .texto, .torneo .inscritos{
    margin-left: 2%;
}

.torneo .inscritos{
    width: 30%;
    font-weight: bold;
    background-color: rgba(0, 128, 0, 0.41);
    padding: 1%;
    margin-bottom: 1.5%;
}

.crearT{
    margin-left: 2%;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

table a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 50%;
    color: blue;
}

 table button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


 /* ----------------------------------------------- ADMIN ------------------------------------------------------ */

.form_torneo {
    width: 60%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form_torneo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form_torneo input[type="text"],
.form_torneo input[type="number"],
.form_torneo input[type="time"],
.form_torneo textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form_torneo textarea {
    resize: vertical;
}

.form_torneo button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form_torneo button[type="submit"]:hover {
    background-color: #0056b3;
}



/* ----------------------------------------------- TABLA TORNEOS ------------------------------------------------- */

.admin-torneos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-torneos h2{
    margin: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
}

.admin-torneos .nuevo-torneo{
    margin-top: 2%;
    margin-bottom: 1%;
    width: 150px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.admin-torneos table {
    border-collapse: collapse;
    border: none;
    width: 95%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.admin-torneos th, .admin-torneos td {
    padding: 8px;
    border: none;
    text-align: left;
}

.admin-torneos th {
    background-color: #007bff;
    color: #fff;
}

.admin-torneos tr:nth-child(even) {
    background-color: #f2f2f2;
}


.admin-torneos tr:hover {
    background-color: #ddd;
}


.td-actions {
    width: 60%;
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Alinea los elementos verticalmente */
}






/* ------------------------------------------ FORMULARIO CREAR ------------------------------------------------------------ */

.crear-torneo{
    height: 100%;
}


.crear-torneo h2{
    width: 100%;
    text-align: center;
    color: black;
    font-family: montserratbold;
}

.crear-torneo form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-bottom: 2%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.crear-torneo form label {
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
    text-align: start;
}

.crear-torneo form input[type="number"],
.crear-torneo form input[type="date"],
.crear-torneo form input[type="time"],
.crear-torneo form textarea,
.crear-torneo form select,
.crear-torneo form input[type="email"],
.crear-torneo form input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.crear-torneo form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.crear-torneo form button:hover {
    background-color: #0056b3;
}

.x-input-error {
    margin-top: 10px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
}


/* ------------------------------------------------------- FORMULARIO EDITAR -------------------------------------- */

.editar-torneo{
    height: 100%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editar-torneo h2{
    color: black;
    font-family: montserratbold;
    width: 100%;
    text-align: center;
}

.form_torneo {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form_torneo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form_torneo input[type="text"],
.form_torneo input[type="number"],
.form_torneo input[type="email"],
.form_torneo input[type="date"],
.form_torneo select,
.form_torneo input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.form_torneo button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form_torneo button:hover {
    background-color: #0056b3;
}

.x-input-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}







/* ------------------------------------------------- MOVIL ---------------------------------------------- */

@media (max-width: 840px) {


    .admin-torneos table {
        width: 100%;
        table-layout: fixed;
        word-wrap: break-word;
        font-size: 12px;
    }

    .admin-torneos table th{
        width: 10%;
    }

    .torneos{
        width: 100%;
        height: auto;
    }

    .torneos .torneos-row{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .torneos .torneos-row .torneo{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .torneos .torneos-row .torneo .inscritos{
        width: 50%;
    }


    /* ------------------------------------------------ CREAR --------------------------------------------- */

    .crear-torneo{
        width: 100%;
        height: auto;
        margin-bottom: 4%;
    }

    .crear-torneo form{
        margin: 0;
        width: 80%;
        margin-left: 5%;
        margin-right: 10%;
    }


    /* ------------------------------------------------- EDITAR TORNEO ------------------------------------- */

    .editar-torneo {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: auto;
    }

    .editar-torneo .form_torneo{
        margin: 0;
        width: 100%;
    }
}
